APP_ID=remind
APP_SECRET=
SESSION_SECRET=
ACCOUNTS_URL=http://localhost:9590
ACCOUNTS_API_URL=http://127.0.0.1:9589
APP_API_URL=http://127.0.0.1:4181/api/v2
PUBLIC_URL=http://127.0.0.1:4180
EXTRA_IMG_ORIGINS=http://127.0.0.1:9594
